@{
    ViewBag.Title = "All News";
}

@section Scripts {
   <script src="~/lib/angular/angular.min.js"></script>
   <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
   <script src="~/js/configSettings.js"></script>
   <script src="~/js/newsitem/app-allnews.js"></script>
   <script src="~/js/newsitem/allnewsController.js"></script>
   <script src="~/js/newsitem/allnewsFactory.js"></script>
}


@section AddToHead{
    <link href="~/css/news.css" rel="stylesheet" type="text/css" />
}

<div ng-app="app-allnews" ng-controller="allnewsController">
    <div class="spdm_allnews_row row">
        <div class="col-md-12">
        <div class="spdm_allnews_title">
            Todas as notícias
         </div>
          <div ng-repeat="newsitem in news" class="spdm_news_itemwrapper">
                <a href="/App/NewsItem/{{ newsitem.ID }}">
                <figure class="spdm_news_item">
                    <div class="spdm_news_origin">{{ newsitem.Origin }}</div>
                    <img src="{{ absoulteUrl + newsitem.FileRef}}" />
                    <figcaption class="spdm_allnews_caption">
                        <div class="spdm_news_date">{{ newsitem.Date | date :  "dd/MM/yyyy" }}</div>
                        <h4>{{ newsitem.Title }}</h4>
                        <h5>{{ newsitem.Subtitle }}</h5>
                    </figcaption>
                </figure>
                </a>
            </div>
            <div>
                <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
            </div>
        </div>
    </div>
</div>