@{
    ViewBag.Title = "Article";
}

@section Scripts {
   <script src="~/lib/angular/angular.min.js"></script>
   <script src="~/lib/angular-route/angular-route.min.js"></script>
   <script src="~/js/configSettings.js"></script>
  <environment names="Development">
    <script src="~/js/article/app-article.js"></script>
    <script src="~/js/article/articleController.js"></script>
    <script src="~/js/article/articleFactory.js"></script>
    <script src="~/js/article/articleDirective.js"></script>    
  </environment>    
  <environment names="Production">
    <script src="~/lib/_app/app-article.js"></script>
    <script src="~/lib/_app/articleController.js"></script>
    <script src="~/lib/_app/articleFactory.js"></script>
    <script src="~/lib/_app/articleDirective.js"></script>
   </environment>
    <script type="text/javascript">
        if (window.location.href.indexOf('linksdeinteresse') > -1) {
            var menuLinksInteresse = $('a[href*="/App/Article/linksdeinteresse"]');
            menuLinksInteresse.closest('.spdm_toplevel_last').addClass('spdm_toplevel_active');
        }
        if (window.location.href.indexOf('documentos') > -1) {
            var menuDocumentos = $('a[href*="/App/Article/documentos"]');
            menuDocumentos.closest('.spdm_toplevel_wrapper').addClass('spdm_toplevel_active');
        }
    </script>
}

@section AddToHead{
    <link href="~/css/article.css" rel="stylesheet" type="text/css" />
}
<div ng-app="app-article" ng-controller="articleController">
    <div ng-init="articleId = '@ViewBag.ArticleId'">
        <div class="row">
            <div class="spdm_article_col col-md-12">
                <div class="spdm_article_title">
                    {{ title }}
                </div>
                <div class="spdm_article_subtitle">
                    {{ subtitle }}
                </div>
                <div ng-bind-html="body" class="spdm_article_body">
                    {{ body }}
                </div>
                <div class="spdm_article_loader" ng-show="articleLoading">
                    <img src="~/img/gears.gif" />
                </div>
            </div>
        </div>
    </div>
    <set-article-images></set-article-images>
    
</div>
