/*start-minimum view port*/
.img-responsive {
    display: inline-block;
}

.spdm_article_loader {
    text-align:center;
}

.spdm_article_col {
    padding-bottom: 210px;
    padding-left: 0px;
    padding-right: 0px;
}

.spdm_article_title {
    padding-bottom: 18px;
    padding-top: 8px;
    display: inline-block;
    color: #30618c;
    font-size: 26px;
    margin-top:80px;
     width: 100%;
    background-color: #f7f7f7;
    height: 60px;
    border-bottom: 1px solid #ddd;
    border-top: 3px solid #ebebeb;
    font-weight: normal !important;
    padding-left: 10px;
}

.spdm_article_subtitle {
    padding-bottom: 20px;
    color: #30618c;
    font-size: 18px;
    font-weight: bold;
}

.spdm_article_body {
    padding-left: 15px;
    padding-right: 15px;
    word-break: normal;
}
/*end-minimum view port*/

/*start-tablet view */
@media (min-width: 768px) {
  .spdm_article_col {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
    }
  .spdm_article_body {
      margin-left: 100px;
      margin-right: 100px;
  }

  .spdm_article_title {
      width: 100%;
      background-color: #f7f7f7;
      height: 60px;
      border-bottom: 1px solid #ddd;
      border-top: 3px solid #ebebeb;
      padding-top: 8px !important;
      font-weight: normal !important;
      padding-left: 114px;
      margin-top: 0px;
  }
  

}
/*end-tablet view */

/* start-desktop view */

@media (min-width: 1200px) {
    .spdm_article_col {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .spdm_article_title {
        padding-bottom: 18px;
        display: inline-block;
        color: #30618c;
        font-size: 26px;
        font-weight: bold;
        padding-top: 0px;
    }
    .spdm_article_subtitle {
        padding-bottom: 20px;
        color: #30618c;
        font-size: 18px;
        font-weight: bold;
    }
   
}