/*start-minimum view port*/

.spdm_article_col {
    padding-bottom: 210px;
}

.spdm_article_title {
    padding-bottom: 18px;
    padding-top: 90px;
    display: inline-block;
    color: #30618c;
    font-size: 26px;
    font-weight: bold;
}

.spdm_article_subtitle {
    padding-bottom: 20px;
    color: #30618c;
    font-size: 18px;
    font-weight: bold;
}

.spdm_article_body {}
/*end-minimum view port*/

/*start-tablet view */
@media (min-width: 768px) {
  .spdm_article_col {
        padding-bottom: 0px;
    }
}
/*end-tablet view */

/* start-desktop view */

@media (min-width: 1200px) {
    .spdm_article_col {
        padding-bottom: 0px;
    }
    .spdm_article_title {
        padding-bottom: 18px;
        display: inline-block;
        color: #30618c;
        font-size: 26px;
        font-weight: bold;
        padding-top: 0px;
    }
    .spdm_article_subtitle {
        padding-bottom: 20px;
        color: #30618c;
        font-size: 18px;
        font-weight: bold;
    }
    .spdm_article_body {}
}