.spdm_article_title {
    padding-bottom: 18px;
    display: inline-block;
    color: #30618c;
    font-size: 26px;
    font-weight: bold;
}

.spdm_article_subtitle {
    padding-bottom: 20px;
    color: #30618c;
    font-size: 18px;
    font-weight: bold;
}

.spdm_article_body {

}