.spdm_network_search {
    background-color: #30618c;
    height: 108px;
    margin-left: 15px;
    display: inline-flex;
    text-align: center;
    padding-left: 35%;
    padding-top: 38px;
    width:1021px;
}

.spdm_network_search button {
    font-size: 12px;
    background-color: #30618c;
    border-color:#fff;
    margin-right:20px;
    width:136px;
    color:#fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 4px;
    width: 130px;
    letter-spacing:2px;
}

.spdm_network_search button:focus {
    color:#fff;

}


.spdm_network_dropdown_treatment ul {
    left:370px;
}


.spdm_network_dropdown_treatment button {
    margin-right:20px;
}


.spdm_network_dropdown_location ul {
    left:530px;
   
}

.spdm_network_dropdown_location button {
    margin-left:20px;
}


.spdm_network_result {
    display:inline-flex;
    width:1050px;
} 

.spdm_network_map {
    width: 1050px;
    height: 429px;
}

.spdm_network_details {
    background-color: #3d81c0;
    height: 429px;
    width: 511px;
    position: absolute;
    z-index: 1;
    left: 50%;
    color: #fff;
}

.spdm_network_closedetails {
    width: 31px;
    height: 30px;
    left: 94%;
    background-color: #3d81c0;
    position: absolute;
    cursor: pointer;
  
}

.spdm_network_closedetails i {
    font-size: 20px;
    padding-top: 4px;
    padding-left: 7px;
}

.spdm_network_detail_title {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 20px;
}

.spdm_network_detail_subtitle {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
}

.spdm_network_detail_description {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
}