/*start-minimum view port*/
.spdm_network_image {
    padding-left: 0px;
    padding-right: 0px;
    padding-top:79px;
    text-align: center;
}

.spdm_network_image img {
    width: 100%;
}

.spdm_network_image span {
    position: absolute;
    padding-top: 12px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    left: 0;
    width: 100%;
}

.spdm_network_search {
    background-color: #30618c;
    height: 108px;
    display: inline-block;
    text-align: center;
    padding-top: 38px;
    width: 100%;
    padding-right:0px;
}

.spdm_network_search button {
    font-size: 12px;
    background-color: #30618c;
    border-color: #fff;
    margin-right: 20px;
    width: 136px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 4px;
    width: 130px;
    letter-spacing: 2px;
}

.spdm_network_search button:focus {
    color: #fff;
}

.spdm_network_dropdown_location {
    display: inline-block;
    margin-left: 5px;
}

.spdm_network_dropdown_treatment {
    display: inline-block;
    margin-right: 5px;
}

.spdm_network_dropdown_treatment ul {
    margin-top: 37px;
}

.spdm_network_dropdown_treatment button {
    margin-right: 0;
}

.spdm_network_dropdown_location ul {
    margin-top: 37px;
    left:27%;
    width:185px;
}

.spdm_network_dropdown_location button {
    margin-left: 0px;
}

.spdm_network_dropdownchevron {
    display: inline-block;
}

.spdm_network_result {
    display: inline-flex;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.spdm_network_map {
    width: 100%;
    height: 429px;
}

.spdm_network_details {
    background-color: #3d81c0;
    height: 516px;
    width: 100%;
    position: absolute;
    z-index: 1;
    right: 0%;
    color: #fff;
}

.spdm_network_details img {
    width: 100%;
}


.spdm_network_closedetails {
    width: 31px;
    height: 30px;
    right: 0px;
    background-color: #3d81c0;
    position: absolute;
    cursor: pointer;
}

.spdm_network_closedetails i {
    font-size: 20px;
    padding-top: 4px;
    padding-left: 8px;
    display: block;
}

.spdm_network_detail_title {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 20px;
}

.spdm_network_detail_subtitle {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
}

.spdm_network_detail_description {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
}

/*end-minimum view port*/

/*start-horizontal mobile view port*/
@media (min-width: 568px) {
    .spdm_network_image span {
        font-size: 18px;
        padding-top: 25px;
}
     .spdm_network_dropdown_location ul {
        left:33%;
    }
}
/*end-horizontal mobile view port */

/*start-tablet view port*/
@media (min-width: 768px) {

    .spdm_network_dropdown_location ul {
        left:38%;
    }

    .spdm_network_map {
        height: 515px;
    }

    .spdm_network_details {
        width: 50%;
    }

    .spdm_network_image span {
        font-size: 26px;
        padding-top: 42px;
    }
}
/*end-tablet view port/*

/*start-horizontal tablet view port*/
@media (min-width: 1024px) {
    .spdm_network_map {
        height: 515px;
    }

    .spdm_network_image span {
        font-size: 30px;
        padding-top: 64px;
    }

     .spdm_network_dropdown_location ul {
        left:41%;
    }
}
/*end-horizontal tablet view port/*

/*start-desktop view */
@media (min-width: 1200px) {
    .spdm_network_dropdown_location ul {
        left:43%;
    }

    .spdm_network_image {
        padding-top: 0px;
    }

    .spdm_network_details {
        height: 515px;
    }

      .spdm_network_image span {
        padding-top: 80px;
    }
}
/*end-desktop view */
