@font-face {
    font-family: "pt-sans-caption";
    src: url(fonts/pt-sans/PTC55F.ttf);
    font-style: normal;
}

@font-face {
    font-family: "pt-sans-caption";
    src: url(fonts/pt-sans/PTC75F.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "pt-sans-narrow";
    src: url(fonts/pt-sans/PTN57F.ttf);
    font-style: normal;
}

@font-face {
    font-family: "pt-sans-narrow";
    src: url(fonts/pt-sans/PTN77F.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "pt-sans";
    src: url(fonts/pt-sans/PTS55F.ttf);
    font-style: normal;
}

@font-face {
    font-family: "pt-sans";
    src: url(fonts/pt-sans/PTS56F.ttf);
    font-style: italic;
}

@font-face {
    font-family: "pt-sans";
    src: url(fonts/pt-sans/PTS75F.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "pt-sans";
    src: url(fonts/pt-sans/PTS76F.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-size: 100%;
    font-family: pt-sans;
}

html {
    position: relative;
    min-height: 100%;
}

h4 {
    color: #000;
}

h5 {
    color: #000;
}


:-moz-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff; }
::-moz-placeholder { color: #fff; }
::-webkit-input-placeholder { color: #fff; }

/*bootstrap overrides*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 184px;
}


/*start-minimum view port*/

.body {
    padding-top: 79px;
}

.container {
    padding-left: 0px;
    padding-right: 14px;
}

.spdm_footer_logo {
    display: none;
}

.spdm_footer_links1 {
    display: none;
}

.spdm_footer_links2 {
    display: none;
}

.spdm_footer_wrapper {
    width: 100%;
    display: block;
    height: 240px;
    line-height: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 31px;
    background-image: url(../img/backgroundfootermobile.png);
    background-size: cover;
}

footer .container {
    padding-right: 0px !important;
}

.spdm_footer_wrapper div {
    color: #fff;
    text-align: left;
}

.spdm_footer_newsletter_title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 13px;
}

.spdm_footer_newsletter label {
    width: 98% !important;
    line-height: 17px;
}

.spdm_footer_newsletter_button {
    display: block;
    background-color: #1a3e5d;
    width: 34px !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.spdm_footer_newsletter_submit {
    width: 100%;
    display: inline-flex;
}

.spdm_footer_newsletter_submit input {
    background-color: #264e71;
    height: 34px;
    width: 100%;
    border-width: 0px;
    padding-left: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

   .spdm_footer_newsletter_submit button {
        height: 32px;
        width: 32px;
        padding-bottom: 9px;
        border: 0;
        outline: 0;
        background-color: #1a3e5d;
        margin:0;
        padding:0;
    }

.spdm_footer_logo_mobile {
    display: inline-flex;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 21px;
    line-height: 18px;
    width: 100%;
}

.spdm_footer_logo_mobile div {
    width: 50%;
    padding: 0px;
}

.spdm_footer_logo_mobile img {
    width: 150px;
}


.spdm_newsletter_emailvalidation {
    display: block;
    padding-top: 10px;
}

.spdm_newsletter_feedback {
    padding-top: 10px;
}

/*end-minimum view port*/

@media (min-width: 568px) {
    .spdm_footer_newsletter_submit input {
        width: 300px;
    }
    .spdm_footer_logo_mobile div {
        width: initial;
    }
    .spdm_footer_logo_mobile img {
        width: 150px;
        margin-left: 30px;
    }
}

/*start-tablet view */
@media (min-width: 768px) {
    .spdm_footer_logo_mobile {
        display: none;
    }
    .spdm_footer_links1 {
        display: block;
    }
    .spdm_footer_links2 {
        display: block;
    }
    .spdm_footer_logo {
        display: block;
    }
    .spdm_footer_logo div {
        width: 85% !important;
        text-align: center !important;
        padding-top: 10px;
        line-height: 20px;
    }
    .spdm_footer_logo img {
        padding-top: 16px;
        width: 160px;
    }
    .spdm_footer_links1 div {
        width: 100% !important;
    }
    .spdm_footer_links1 div a {
        color: #fff;
    }
    .spdm_footer_links2 div {
        width: 100% !important;
    }
    .spdm_footer_links2 div a {
        color: #fff;
    }
    .spdm_footer_newsletter div {
        width: 100% !important;
        line-height: 20px;
    }
    .spdm_footer_newsletter_title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 13px;
    }
    .spdm_footer_newsletter_submit {
        width: 100%;
        display: inline-flex;
    }
    .spdm_footer_newsletter_button {
        background-color: #1a3e5d;
        width: 34px !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 14px;
        padding: 9px;
        cursor: pointer;
    }
    .spdm_footer_newsletter_submit input {
        background-color: #264e71;
        height: 34px;
        width: 134px;
        border-width: 0px;
        padding-left: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
    }
    .spdm_footer_newsletter_submit button {
        height: 34px;
        width: 32px;
        padding-bottom: 9px;
        border: 0;
        outline: 0;
        background-color: #1a3e5d;
        margin:0;
        padding:0;
    }
    div a, a:hover, a:active, a:visited {
        color: #000;
        text-decoration: none !important;
    }
    .dropdown-toggle:focus {
        text-decoration: none;
        color: #000;
    }
    .spdm_footer_wrapper {
        background-image: url('../img/backgroundfooter.png');
        width: 100%;
        height: 184px;
        display: inline-flex;
        padding-top: 31px;
        line-height: 40px;
        padding-left: 18px;
        padding-right: 0px;
    }
    .spdm_footer_wrapper div {
        width: 25%;
        color: #fff;
        text-align: left;
    }

    
    .spdm_newsletter_emailvalidation {
        padding-top: 0px;
    }

    
    .spdm_newsletter_feedback {
        padding-top: 0px;
    }

}
/*end-tablet view */

/* start-horizontal tablet view */
@media (min-width: 1024px) {
    .spdm_footer_newsletter_submit input {
        width: 174px;
    }
}
/* end-horizontal tablet view */

/* start-desktop view */

@media (min-width: 1200px) {
    body {
        padding-top: 100px;
        margin-bottom: 184px;
    }
    .container {
        width: 1021px;
        padding-right: 0px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -25px;
    }
    .spdm_footer_logo_mobile {
        display: none;
    }
    .spdm_footer_links1 {
        display: block;
    }
    .spdm_footer_links2 {
        display: block;
    }
    .spdm_footer_logo {
        display: block;
    }
    .spdm_footer_logo div {
        width: 85% !important;
        text-align: center !important;
        padding-top: 10px;
        line-height: 20px;
    }
    .spdm_footer_logo img {
        padding-top: 16px;
    }
    .spdm_footer_links1 div {
        width: 100% !important;
    }
    .spdm_footer_links1 div a {
        color: #fff;
    }
    .spdm_footer_links2 div {
        width: 100% !important;
    }
    .spdm_footer_links2 div a {
        color: #fff;
    }
    .spdm_footer_newsletter div {
        width: 100% !important;
        line-height: 20px;
    }
    .spdm_footer_newsletter_title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 13px;
    }
    .spdm_footer_newsletter_submit {
        width: 100%;
        padding-top: 14px;
        display: inline-flex;
    }
    .spdm_footer_newsletter_button {
        background-color: #1a3e5d;
        width: 34px !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 14px;
        padding: 10px;
        cursor: pointer;
    }
    .spdm_footer_newsletter_submit input {
        background-color: #264e71;
        height: 34px;
        width: 235px;
        border-width: 0px;
        padding-left: 7px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
    }
    .spdm_footer_newsletter_submit button {
        height: 32px;
        width: 32px;
        padding-bottom: 9px;
        border: 0;
        outline: 0;
    }
    div a, a:hover, a:active, a:visited {
        color: #000;
        text-decoration: none !important;
    }
    .dropdown-toggle:focus {
        text-decoration: none;
        color: #000;
    }
    .spdm_footer_wrapper {
        background-image: url('../img/backgroundfooter.png');
        width: 100%;
        height: 184px;
        display: inline-flex;
        padding-top: 31px;
        line-height: 40px;
        padding-left: 18px;
        padding-right: 0px;
    }
    .spdm_footer_wrapper div {
        width: 25%;
        color: #fff;
        text-align: left;
    }
}


/* end-desktop view */